.vscode
prime.exe
doubleten.exe
fact.exe
firstlast.exe
fours.exe
leadgame.exe
patt2.exe
patt3.exe
pattern.exe
perfectnum.exe
armstrong.exe
armstronglist.exe 
arrayreverse.exe
HCF.exe
bubblesort.exe 
Stack.exe
matrix.exe
CircularQueue.exe
PostfixConv.exe
DEQUE.exe
PostfixEvaluate.exe
QuickSort.exe
class.exe
BinaryTree.exe
SparceMatrix.exe
InsertionSort.exe
SelectionSort.exe
MergeSort.exe
